certifi
charset-normalizer
click
dataclasses
Flask
Flask-Cors
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pip
python-dateutil
pytz
requests
setuptools
six
typing_extensions
urllib3
Werkzeug
wheel
zipp
